Foodle.Client.Windows/Service References/FoodleServiceReference/FoodleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62469/FoodleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Foodle.Service.Contracts" />
  <xs:element name="GetVoteOptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoteOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Foodle.Service.Contracts" minOccurs="0" name="GetVoteOptionsResult" nillable="true" type="q1:GetVoteOptionsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Foodle.Service.Contracts" minOccurs="0" name="request" nillable="true" type="q2:SaveVoteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Foodle.Service.Contracts" minOccurs="0" name="SubmitVoteResult" nillable="true" type="q3:SaveVoteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResults">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Foodle.Service.Contracts" minOccurs="0" name="GetResultsResult" nillable="true" type="q4:GetResultsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>