Foodle.Client/Service References/FoodleServiceReference/FoodleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FoodleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IFoodleService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62469/FoodleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62469/FoodleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62469/FoodleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Foodle.Service.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFoodleService_GetVoteOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVoteOptions" />
  </wsdl:message>
  <wsdl:message name="IFoodleService_GetVoteOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVoteOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodleService_SubmitVote_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitVote" />
  </wsdl:message>
  <wsdl:message name="IFoodleService_SubmitVote_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitVoteResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodleService_GetResults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResults" />
  </wsdl:message>
  <wsdl:message name="IFoodleService_GetResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultsResponse" />
  </wsdl:message>
  <wsdl:portType name="IFoodleService">
    <wsdl:operation name="GetVoteOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodleService/GetVoteOptions" message="tns:IFoodleService_GetVoteOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodleService/GetVoteOptionsResponse" message="tns:IFoodleService_GetVoteOptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitVote">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodleService/SubmitVote" message="tns:IFoodleService_SubmitVote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodleService/SubmitVoteResponse" message="tns:IFoodleService_SubmitVote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodleService/GetResults" message="tns:IFoodleService_GetResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodleService/GetResultsResponse" message="tns:IFoodleService_GetResults_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFoodleService" type="tns:IFoodleService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IFoodleService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVoteOptions">
      <soap:operation soapAction="http://tempuri.org/IFoodleService/GetVoteOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitVote">
      <soap:operation soapAction="http://tempuri.org/IFoodleService/SubmitVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResults">
      <soap:operation soapAction="http://tempuri.org/IFoodleService/GetResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FoodleService">
    <wsdl:port name="BasicHttpBinding_IFoodleService" binding="tns:BasicHttpBinding_IFoodleService">
      <soap:address location="http://localhost:62469/FoodleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>