Foodle.Client/Service References/FoodleServiceReference/FoodleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Foodle.Service.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Foodle.Service.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VoteOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deadline" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Restaurants" nillable="true" type="tns:ArrayOfRestaurant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoteOptions" nillable="true" type="tns:VoteOptions" />
  <xs:complexType name="ArrayOfRestaurant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Restaurant" nillable="true" type="tns:Restaurant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestaurant" nillable="true" type="tns:ArrayOfRestaurant" />
  <xs:complexType name="Restaurant">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Days" type="tns:Restaurant.Weekdays" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Restaurant" nillable="true" type="tns:Restaurant" />
  <xs:simpleType name="Restaurant.Weekdays">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Monday" />
          <xs:enumeration value="Tuesday" />
          <xs:enumeration value="Wednesday" />
          <xs:enumeration value="Thursday" />
          <xs:enumeration value="Friday" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="Restaurant.Weekdays" nillable="true" type="tns:Restaurant.Weekdays" />
  <xs:complexType name="Vote">
    <xs:sequence>
      <xs:element minOccurs="0" name="Prio1" nillable="true" type="tns:Restaurant" />
      <xs:element minOccurs="0" name="Prio2" nillable="true" type="tns:Restaurant" />
      <xs:element minOccurs="0" name="Prio3" nillable="true" type="tns:Restaurant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vote" nillable="true" type="tns:Vote" />
</xs:schema>